* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.list ul li {
	list-style: none;
}

.left {
	width: 300px;
	margin-left: 40px;
	margin-top: 20px;
}

.title {
	height: 27px;
	border: 1px solid #ccc;
	padding: 10px;
	background: url("../img/1.gif") 18px 18px no-repeat;
}

.title h2 {
	font-size: 14px;
	margin-top: 5px;
	margin-left: 38px;
}

img {
	margin-top: 10px;
	float: left;
	margin-right: 20px;
	border: 1px solid #888a88;
}

.img {
	margin-top: 10px;
}

.img p {
	font-size: 10px;
	line-height: 30px;
	color: #888a88;
}

.img p:nth-of-type(1) {
	font-weight: bold;
	line-height: 40px;
	font-size: 12px;
	color: #000;
}

.list {
	margin-top: 10px;
}

.list ul li a {
	color: #888a88;
	font-size: 10px;
	line-height: 30px;
}

.list ul li a:hover {
	text-decoration: underline;
}

.list ul li a:nth-of-type(1) {
	float: left;
}

.list ul li a:nth-of-type(2) {
	float: right;
}

.left::after {
	content: '';
	display: block;
	clear: both;
}
