<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书作者</title>
    <link rel="shortcut icon" href="imgs/sunbook.ico">
    <!--引入element-ui样式-->
    <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>
<style>
    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>
<body>
<div id="app">
    <template>
        <!--        条件查询-->
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <!--            按出版社名称查询-->
            <el-tab-pane label="出版社名称查找" name="name">出版社名称查找<br/><br/>
                <el-form :inline="true" :model="ruleForm" class="demo-form-inline" :rules="rules">
                    <el-form-item label="出版社名称：" class="inputElement" prop="name">
                        <el-input type="text" v-model="ruleForm.name" placeholder="请输入出版社名称"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="select(1)">查询</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <!--            按省份和城市查询-->
            <el-tab-pane label="省份和城市查找" name="province">省份查找<br/><br/>
                <el-form :inline="true">
                    <el-form-item label="省份：" class="inputElement" prop="province">
                        <el-select @change="getCity" v-model="ruleForm.province" placeholder="请选择省份">
                            <el-option v-for="(dropdown_province,index) in dropdown_province" :key="index"
                                       :label="dropdown_province.province"
                                       :value="dropdown_province.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="城市：" class="inputElement" prop="city">
                        <el-select v-model="ruleForm.city" placeholder="请选择城市">
                            <el-option v-for="(dropdown_city,index) in dropdown_city" :key="index"
                                       :label="dropdown_city.city"
                                       :value="dropdown_city.id"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="select(2)">查询</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <!--            按联系方式-->
            <el-tab-pane label="联系方式查找" name="phone">联系方式查找<br/><br/>
                <el-form :inline="true" :model="ruleForm" class="demo-form-inline" :rules="rules">
                    <el-form-item label="联系方式：" class="inputElement" prop="phone">
                        <el-input v-model="ruleForm.phone" placeholder="请输入联系方式"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="select(3)">查询</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
            <!--            按联系人查询-->
            <el-tab-pane label="联系人查找" name="email">联系人查找<br/><br/>
                <el-form :inline="true" :model="ruleForm" class="demo-form-inline" :rules="rules">
                    <el-form-item label="联系人：" class="inputElement" prop="contact">
                        <el-input type="email" v-model="ruleForm.contact" placeholder="请输入联系人"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="select(4)">查询</el-button>
                    </el-form-item>
                </el-form>
            </el-tab-pane>
        </el-tabs>
        <br/>
        <!--        新增操作-->
        <el-button type="primary" class="el-icon-plus" @click="dialog">&nbsp;新增</el-button>
        <!--        新增出版社弹窗-->
        <el-dialog title="新增出版社" :visible.sync="dialogFormVisible">
            <el-form :model="form" :rules="rules" ref="form" label-width="110px" class="demo-ruleForm">
                <el-form-item label="出版社名称：" prop="name">
                    <el-input v-model="form.name" placeholder="请输入出版社名称"></el-input>
                </el-form-item>
                <el-form-item label="联系人：" prop="contact">
                    <el-input v-model="form.contact" placeholder="请输入联系人"></el-input>
                </el-form-item>
                <el-form-item label="联系方式：" prop="phone">
                    <el-input v-model="form.phone" placeholder="请输入联系方式"></el-input>
                </el-form-item>
                <el-form-item label="省份：" prop="province">
                    <el-select @change="getCity" v-model="form.province" placeholder="请选择省份">
                        <el-option v-for="(dropdown_province,index) in dropdown_province" :key="index"
                                   :label="dropdown_province.province"
                                   :value="dropdown_province.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="城市：" prop="city">
                    <el-select v-model="form.city" placeholder="请选择城市">
                        <el-option v-for="(dropdown_city,index) in dropdown_city" :key="index"
                                   :label="dropdown_city.city"
                                   :value="dropdown_city.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="地址：">
                    <el-input type="textarea" v-model="form.address" placeholder="请输入地址"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm('form')">确 定</el-button>
                <el-button @click="dialog">取 消</el-button>
            </div>
        </el-dialog>
        <!--        批量删除操作-->
        <el-button type="danger" class="el-icon-delete" @click="checkboxdel">&nbsp;批量删除</el-button>
        <br/><br/>
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">全选
        </el-checkbox>
        <br/><br/>
        <el-checkbox-group v-model="multipleSelection" @change="handleCheckedCitiesChange">
            <el-checkbox style="width: 280px;height: 300px;margin-left: 25px;margin-right: 0px;margin-bottom: 20px"
                         border v-for="(cardData,index) in cardData" :label="cardData" :key="index">
                <el-card style="position: relative;bottom:5px;right: 32px;width: 272px;height: 290px" shadow="hover">
                    <div style="height: 12px;" slot="header" class="clearfix">
                        <span>{{cardData.id}}.{{cardData.name}}</span>
                        <div style="float: right;position: relative;bottom: 10px">
                            <!--                    按出版社序号编辑出版社-->
                            <el-button type="text" icon="el-icon-edit-outline"
                                       @click="handleEdit(index, cardData)"></el-button>
                            <!--                    按出版社序号删除出版社-->
                            <el-button type="text" icon="el-icon-delete"
                                       @click="handleDelete(index,cardData)"></el-button>
                        </div>
                    </div>
                    <div class="card-header">
                    </div>
                    <!-- 卡片显示的内容 -->
                    <i class="el-icon-user"></i>&nbsp;联系人：{{cardData.contact}}
                    <br/><br/>
                    <i class="el-icon-mobile-phone"></i>&nbsp;联系方式：{{cardData.phone}}
                    <br/><br/>
                    <i class="el-icon-location-outline"></i>&nbsp;{{cardData.province}}&nbsp;-&nbsp;{{cardData.city}}
                    <br/><br/>
                    <i class="el-icon-office-building"></i>&nbsp;联系地址：<br/>
                    <p style="font-size: 12px">{{cardData.address}}</p>
                </el-card>
            </el-checkbox>
        </el-checkbox-group>
        <!--        编辑出版社弹窗-->
        <el-dialog title="编辑出版社" :visible.sync="dialogEditVisible">
            <el-form :model="editForm" :rules="rules" ref="editForm" label-width="110px" class="demo-ruleForm">
                <el-form-item label="出版社名称：" prop="name">
                    <el-input v-model="editForm.name" placeholder="请输入出版社名称"></el-input>
                </el-form-item>
                <el-form-item label="联系人：" prop="contact">
                    <el-input v-model="editForm.contact" placeholder="请输入联系人"></el-input>
                </el-form-item>
                <el-form-item label="联系方式：" prop="phone">
                    <el-input v-model="editForm.phone" placeholder="请输入联系方式"></el-input>
                </el-form-item>
                <el-form-item label="省份：" prop="province">
                    <el-select @change="getCity" v-model="editForm.province" placeholder="请选择省份">
                        <el-option v-for="(dropdown_province,index) in dropdown_province" :key="index"
                                   :label="dropdown_province.province"
                                   :value="dropdown_province.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="城市：" prop="city">
                    <el-select v-model="editForm.city" placeholder="请选择城市">
                        <el-option v-for="(dropdown_city,index) in dropdown_city" :key="index"
                                   :label="dropdown_city.city"
                                   :value="dropdown_city.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="地址：">
                    <el-input type="textarea" v-model="editForm.address" placeholder="请输入地址"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateForm('editForm')">确 定</el-button>
                <el-button @click="dialogEdit">取 消</el-button>
            </div>
        </el-dialog>
        <br/>
        <!--        分页-->
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="currentPage"
                :page-sizes="[8, 16, 24, 32]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="count">
        </el-pagination>
    </template>
</div>
</body>
<!--引入vue-->
<script src="js/vue.js"></script>
<!--引入axios-->
<script src="js/axios-0.18.0.js"></script>
<!--引入ElementUI-->
<script src="element-ui/lib/index.js"></script>
<script type="text/javascript">
    // 主机地址
    var localhost = 'http://localhost:8080/sunbookshop/';
    //存储编辑的原始省份信息
    var province;
    // 存储编辑的原始城市信息
    new Vue({
        el: '#app',
        data() {
            return {
                // 条件查询默认显示
                activeName: 'name',
                //全选占位符
                checkAll: false,
                multipleSelection: [],
                isIndeterminate: false,
                // 新增出版社弹窗默认样式
                dialogFormVisible: false,
                // 编辑用户弹窗默认样式
                dialogEditVisible: false,
                // 省份下拉占位符
                dropdown_province: [{
                    id: '',
                    province: '',
                }],
                // 城市下拉占位符
                dropdown_city: [{
                    id: '',
                    city: '',
                }],
                // 条件查询占位符
                ruleForm: {
                    name: '',
                    contact: '',
                    province: '',
                    city: '',
                    phone: '',
                },
                // 新增出版社占位符
                form: {
                    name: '',
                    phone: '',
                    contact: '',
                    province: '',
                    city: '',
                    address: '',
                },
                // 数据为空提示符
                rules: {
                    name: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                    ],
                    phone: [
                        {required: true, message: '请输入联系方式', trigger: 'blur'},
                    ],
                    province: [
                        {required: true, message: '请选择省份', trigger: 'blur'},
                    ],
                    city: [
                        {required: true, message: '请选择城市', trigger: 'blur'},
                    ],
                    contact: [
                        {required: true, message: '请输入联系人', trigger: 'blur'},
                    ],
                },
                // 出版社卡片数据
                cardData: [{
                    id: '',
                    name: '',
                    contact: '',
                    phone: '',
                    province_id: '',
                    province: '',
                    city_id: '',
                    city: '',
                    address: ''
                }],
                //存储编辑原始数据
                rowAuthor: '',
                //处理编辑赋值次数
                num: 0,
                editForm: {
                    name: '',
                    phone: '',
                    contact: '',
                    province: '',
                    city: '',
                    address: '',
                    phone: '',
                    province_id: '',
                    city_id: '',
                },
                // 分页数据占位符
                // 当前页数
                currentPage: 1,
                // 每页条数
                pageSize: 8,
                // 总条数
                count: 12,
            }
        },
        mounted() {
            this.list();
            // 获取省份列表
            axios({
                method: 'get',
                url: localhost + '/province_city/getProvince',
                // 使用箭头函数获取vue实例对象
            }).then((response) => {
                this.dropdown_province = response.data;
            });
        },
        methods: {
            // 获取出版社列表
            list() {
                axios({
                    method: 'get',
                    url: localhost + '/author/list?currentPage=' + this.currentPage + '&pageSize=' + this.pageSize,
                    // 使用箭头函数获取vue实例对象
                }).then((response) => {
                    if (response.data !== 'fail') {
                        this.cardData = response.data.data;
                        this.count = response.data.count;
                    } else {
                        this.$message.error('系统错误');
                    }
                });
            },
            //获取城市列表
            getCity() {
                let province = '';
                if (this.ruleForm.province !== '') {
                    province = this.ruleForm.province;
                }
                if (this.form.province !== '') {
                    province = this.form.province;
                }
                if (this.editForm.province !== '') {
                    province = this.editForm.province;
                }
                axios({
                    method: 'get',
                    url: localhost + '/province_city/getCity?province=' + province,
                }).then((response) => {
                    this.dropdown_city = response.data;
                    this.ruleForm.city = '';
                    this.form.city = '';
                    this.editForm.city = '';
                });
            },
            // 条件查询
            select(index) {
                let url;
                // 按用户名查询
                if (index === 1 && this.ruleForm.name !== '') {
                    this.ruleForm.province = '';
                    this.ruleForm.city = '';
                    this.ruleForm.phone = '';
                    this.ruleForm.contact = '';
                    url = localhost + '/author/getByName?name=' + this.ruleForm.name + '&currentPage=' + this.currentPage + '&pageSize=' + this.pageSize;
                }
                // 按省份和城市查询
                else if (index === 2 && this.ruleForm.province !== '' && this.ruleForm.city !== '') {
                    this.ruleForm.name = '';
                    this.ruleForm.phone = '';
                    this.ruleForm.contact = '';
                    url = localhost + '/author/getByProvince_city?province=' + this.ruleForm.province + '&city=' + this.ruleForm.city + '&currentPage=' + this.currentPage + '&pageSize=' + this.pageSize;
                }
                // 按电话号码查询
                else if (index === 3 && this.ruleForm.phone !== '') {
                    this.ruleForm.province = '';
                    this.ruleForm.city = '';
                    this.ruleForm.name = '';
                    this.ruleForm.contact = '';
                    url = localhost + '/author/getByPhone?phone=' + this.ruleForm.phone + '&currentPage=' + this.currentPage + '&pageSize=' + this.pageSize;
                } else if (index === 4 && this.ruleForm.contact !== '') {
                    this.ruleForm.province = '';
                    this.ruleForm.city = '';
                    this.ruleForm.phone = '';
                    this.ruleForm.name = '';
                    url = localhost + '/author/getByContact?contact=' + this.ruleForm.contact + '&currentPage=' + this.currentPage + '&pageSize=' + this.pageSize;
                } else {
                    this.$message({
                        message: '请输入需要查询的参数',
                        type: 'warning'
                    });
                    return false;
                }
                axios({
                    method: 'get',
                    url: url,
                }).then((response) => {
                    if (response.data !== 'fail') {
                        this.cardData = response.data.data;
                        this.count = response.data.count;
                    } else {
                        this.$message('查询结果为空');
                        this.ruleForm.province = '';
                        this.ruleForm.city = '';
                        this.ruleForm.phone = '';
                        this.ruleForm.contact = '';
                        this.ruleForm.name = '';
                    }
                });
            },
            //处理全选操作
            handleCheckAllChange(val) {
                if (this.checkAll === true) {
                    this.multipleSelection = this.cardData;
                } else {
                    this.multipleSelection = [];
                }
                this.isIndeterminate = false;
            },
            handleCheckedCitiesChange(value) {
                let checkedCount = value.length;
                this.checkAll = checkedCount === this.cardData.length;
                this.isIndeterminate = checkedCount > 0 && checkedCount < this.cardData.length;
            },
            // 新增出版社的弹窗处理
            dialog() {
                this.form.province = '';
                this.ruleForm.province = '';
                this.dialogFormVisible = !this.dialogFormVisible;
            },
            // 编辑用户弹窗处理
            dialogEdit() {
                this.form.province = '';
                this.ruleForm.province = '';
                this.dialogEditVisible = !this.dialogEditVisible;
            },
            // 新增用户
            submitForm(form) {
                this.$refs[form].validate((valid) => {
                    if (valid) {
                        axios({
                            method: 'post',
                            url: localhost + '/author/addAuthor',
                            data: this.form,
                        }).then((response) => {
                            if (response.data === 'succeed') {
                                this.$message({
                                    message: '新增出版社成功',
                                    type: 'success'
                                });
                                this.dialog();
                                this.form = {
                                    name: '',
                                    phone: '',
                                    contact: '',
                                    province: '',
                                    city: '',
                                    address: '',
                                };
                                this.list();
                            } else {
                                this.$message.error('系统错误');
                            }
                        });
                    } else {
                        this.$message({
                            message: '请填写信息',
                            type: 'warning'
                        });
                        return false;
                    }
                });
                this.ruleForm.province = '';
            },
            //批量删除
            checkboxdel() {
                axios({
                    method: 'post',
                    url: localhost + '/author/delAuthor',
                    data: this.multipleSelection,
                }).then((response) => {
                    if (response.data === 'succeed') {
                        this.$message({
                            message: '批量删除用户成功',
                            type: 'success'
                        });
                        this.multipleSelection = [];
                        let current = this.currentPage;
                        this.list();
                        if (current > Math.floor(this.count / this.pageSize)) {
                            this.currentPage = Math.floor(this.count / this.pageSize);
                            this.list();
                        }
                    } else {
                        this.$message.error('系统错误');
                    }
                });
            },
            // 编辑
            handleEdit(index, row) {
                province = row.province;
                city = row.city;
                this.dialogEdit();
                this.editForm = row;
                this.editForm.province_id = row.province_id;
                this.editForm.city_id = row.city_id;
            },
            // 更新出版社
            updateForm(editForm) {
                this.$refs[editForm].validate((valid) => {
                    if (this.editForm.province === province) {
                        this.editForm.province = this.editForm.province_id;
                    }
                    if (this.editForm.city === city) {
                        this.editForm.city = this.editForm.city_id;
                    }
                    if (valid) {
                        axios({
                            method: 'post',
                            url: localhost + '/author/upAuthorById',
                            data: this.editForm,
                        }).then((response) => {
                            if (response.data === 'succeed') {
                                this.$message({
                                    message: '更新用户信息成功',
                                    type: 'success'
                                });
                                this.dialogEdit();
                                this.list();
                            } else {
                                this.$message.error('系统错误');
                            }
                        });
                    } else {
                        this.$message({
                            message: '请填写信息',
                            type: 'warning'
                        });
                        return false;
                    }
                });
            },
            // 删除
            handleDelete(index, row) {
                axios({
                    method: 'post',
                    url: localhost + '/author/delAuthorById',
                    data: row,
                }).then((response) => {
                    if (response.data === 'succeed') {
                        this.$message({
                            message: '删除出版社成功',
                            type: 'success'
                        });
                        let current = this.currentPage;
                        this.list();
                        if (current > Math.floor(this.count / this.pageSize)) {
                            this.currentPage = Math.floor(this.count / this.pageSize);
                            this.list();
                        }
                    } else {
                        this.$message.error('系统错误');
                    }
                });
            },
            // 查询后的分页处理
            page() {
                if (this.ruleForm.name !== '') {
                    this.select(1);
                    return false;
                }
                if (this.ruleForm.province !== '' && this.ruleForm.city !== '') {
                    this.select(2);
                    return false;
                }
                if (this.ruleForm.phone !== '') {
                    this.select(3);
                    return false;
                }
                if (this.ruleForm.contact !== '') {
                    this.select(4);
                    return false;
                }
                this.list();
            },
            // 修改分页数量
            handleSizeChange(val) {
                this.pageSize = val;
                this.page();
            },
            // 切换页数
            handleCurrentChange(val) {
                this.currentPage = val;
                this.page();
            }
        }
    });
</script>
</html>