* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

nav {
	height: 200px;
	background-color: rgba(102, 102, 102, 0.8);
}

.logo,
.navlist,
.login {
	display: inline-block;
}

.logo {
	margin-left: 60px;
	vertical-align: middle;
}

.navlist {
	margin-left: 30px;
	vertical-align: middle;
}

.navlist ul li {
	list-style: none;
	float: left;
	font-size: 20px;
	margin-left: 20px;
}

.navlist ul li a {
	color: #fff;
}

.navlist ul li a:hover {
	color: #0000ff;
}

img {
	width: 290px;
	height: 180px;
}

.login {
	margin-left: 60px;
}

.login a {
	color: #f5d770;
	font-size: 20px;
	display: inline-block;
	border-radius: 40px;
	text-align: center;
	padding: 15px;
	border: 1px solid #f5d770;
}

.login a:hover {
	color: #666 !important;
	background-color: #f5d770;
}

.login a:nth-of-type(1) {
	width: 100px;
}

.login a:nth-of-type(2) {
	width: 140px;
}
